nav{
    background-color: #F8F5F0;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding :20px 40px ;
}
body{
    background-color: #3e0f0e; 
    color: #E8E8E8;          
    margin: 0;
}
ul{
    display: flex;
    list-style: none;
    gap : 10px;
    margin : 0;
    padding: 0;


}
h1{
    margin : 0;
    color : chocolate;
}
a:hover {
  color: #ff9f43;
  transition: 0.3s; 
}
a{
    text-decoration: none;
    justify-content: space-between;
    padding: 30px;
    font-size: 24px;
    color: chocolate;

    
}